package root

templ Page() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Home</title>
		</head>
		<body>
			<header></header>
			<main>
				<h1>Email Sending Service</h1>
				<p>Login to get started</p>
			</main>
			<footer>
				Ewan Greer
			</footer>
		</body>
	</html>
}
